.pr-slide {
  height: 309px;
}
.pr-slide img {
  width: 412px;
  height: auto;
}
.pr-slide-wrapper {
  width: 412px;
  height: auto;
  position: relative;

}
.pr-thumbs-wrapper {
    display: block;
    padding: 0;
    width: 412px;
    height: 60px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .pr-thumbs-contorols {
    position: relative;
    width: 412px;
  }
.pr-tumbs {
    min-width: 412px;
    height: 100%;
    margin: 0;
    padding: 0;

}
.pr-tumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pr-tumbs li {
    list-style: none;
    float: left;
    display: inline-block;
    margin: 0px;
    height: 60px;
    margin-left: 3px;
    margin-right: 0px;
}
.pr-tumbs li:first-child {
    margin-left: 0;
}
.pr-tumbs img {
    width: 80px;
    height: auto;
    padding: 0;
    margin: 0;
}
.pr-tumbs img {
  outline: 1px solid #ddd;
  outline-offset: -1px;
}
.pr-tumbs img:hover {
  cursor: pointer;
}
.pr-tumbs .active {
  outline: 1px solid red;
  outline-offset: -1px;
}
.pr-nav-thumbs {
  visibility: hidden;
}
.pr-nav-thumbs .prev{
  position: absolute;
  height: 60px;
  background: rgba(0 , 0, 0, 0.2);
  left: 0px;
  top: 0;
}
.pr-nav-thumbs .next{
  position: absolute;
  right: 0px;
  top: 0;
  height: 60px;
  background: rgba(0 , 0, 0, 0.2);
}
.pr-nav-thumbs img {
  width: 30px;
  height: auto;
  margin-top: 15px;
}
.pr-nav-thumbs :hover {
  cursor: pointer;
}
.pr-nav {
  visibility: hidden;
}
.pr-nav .prev{
  position: absolute;
  height: 309px;
  background: rgba(0 , 0, 0, 0.2);
  left: 0px;
  top: 0;
}
.pr-nav .next{
  position: absolute;
  height: 309px;
  background: rgba(0 , 0, 0, 0.2);
  right: 0px;
  top: 0;

}
.pr-nav img {
  width: 30px;
  height: auto;
  margin-top: 135px;
}
.pr-nav :hover {
  cursor: pointer;
}
.pr-slide-wrapper:-webkit-full-screen {
	height: 100vh;
  width: none;
}
.current {
  height: 309px;
}
:-webkit-full-screen {
  width: auto;
  height: 100vh;
}

:-webkit-full-screen .current img{
  width: auto;
  height: 100vh;
}
:-webkit-full-screen .pr-nav .next{
  position: absolute;
  height: 100vh;
  background: rgba(255 , 255, 255, 0.2);
  right: 0px;
  top: 0;
}
:-webkit-full-screen  .pr-nav img {
  width: 10vh;
  height: auto;
  margin-top: 40vh;
}
:-webkit-full-screen .pr-nav .prev{
  position: absolute;
  height: 100vh;
  background: rgba(255 , 255, 255, 0.2);
  left: 0px;
  top: 0;
}
.loading {
  background: #fff url(../images/spinner.gif) no-repeat center center;
}
.slider-wrapper {
  margin: 20px;
}
